<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>电子称</title>
    <link rel="stylesheet" href="./front/css/bootstrap.css">
    <link rel="stylesheet" href="./front/css/main.css">
    <script src="./front/js/vue.js"></script>
  </head>
  <body>
    <!-- <h1>Hello World!</h1> -->
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <!-- We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->
    <div class="container-fluid" id="app">
      <div class="d-flex pt-3 align-items-center">
        <div class="col-8">
          <div class="h4">重量</div>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <span class="btn btn-sm btn-danger" @click="refresh">Refresh</span>
          <span class="btn btn-sm btn-secondary ml-md-2" @click="toggleTools">Tools</span>
        </div>
      </div>

      <table class="table table-bordered table-dark h1 text-center mt-4">
        <thead>
          <tr>
            <th scope="col" v-for="arr in weightArr" v-if="">{{arr[0]}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td v-for="arr in weightArr">{{arr[1] | strlen}}</td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-bottom">
        <div class="alert mb-0 alert-secondary record-log" v-html="log"></div>
        <div class="alert mb-0 alert-info">
          <span class="badge badge-pill ml-md-2"
            :class="port.serialNumber ? 'badge-success' : 'badge-light'"
            v-for="port in ports">{{port.comName}}</span>
          <span class="ml-md-4" v-show="address">监听地址 - {{address}}</span>
          <span class="badge badge-pill ml-md-4"
            :class="connection ? 'badge-success' : 'badge-light'">socket</span>
          <span class="badge badge-pill ml-md-2"
            :class="http ? 'badge-success' : 'badge-light'">http</span>
        </div>
      </div>
    </div>
    <script>
      // You can also require other files to run in this process
      require('./src/renderer.js')
      // require('electron-connect').client.create() // 监听 [配合gulp，页面修改自动刷新]
    </script>
  </body>
</html>
